body{
    background: linear-gradient(to bottom right,pink,light blue);
}

#containment-wrapper {
    position: relative;
    height: 400px;
    border: 2px dashed rgb(192, 246, 253);
    border-radius: 10px;
    background: lightpink;
}

#meme-pic{
    cursor: grab;
}

#meme-pic {
    cursor: grabbing;

}
.score-box{
    background:light rgb(224, 144, 157);
    padding: 20px;
    border-radius: 10px;
}

.navbar-brand{
    font-size: 18px ;
    font-weight: bold;
}